# Base de données — SQLite en dev, Postgres (Neon/Supabase) en prod
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="changez-moi-en-prod-avec-une-valeur-aleatoire"
NEXTAUTH_URL="http://localhost:3000"
